body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.2rem;
  border: 1ps solid black;
  border-radius: 2px;
}

.form-control label,
.form-control input {
  width: 98%;
  display: block;
}

.form-actions {
  min-height: 3rem;
}

.form-actions button,
.btn {
  background:#282a32;
  font: inherit;
  color: whitesmoke;
  cursor: pointer;
  border: 1 px solid whitesmoke;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 1 px 1 px 5px rgba(0, 0, 0, 0.25);
  float: right;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: whitesmoke;
  color: #282a32;
}
